@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Mooli', sans-serif ;
       
}
.menu{
    display:none;
}
header{
    background-color: rgb(250, 212, 218);
    color:rgba(222, 200, 5, 0.912);
    font-weight: 800;
    width: 99.9vw;
    height: 10vh;
    font-size: 1.3em;
    display:flex;
    
}

.cabecalho{
    display: inline-flex;
    margin-top: 1%;
    width: 95.3vw; 
    padding-left: 15%;
    
}

li{
    margin: 0.3% 3% 0.3% 3%;
    font-size: 1.3rem;
    cursor:pointer;
    list-style: none;
    
}
.pecas{
    width: 90vw;
    height: 66.6vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
   
}
div{
    width:16vw;
    height: 60vh;
    margin-left:2%;
    margin-top: 5%;
}
.blusa, .saia, .vestido1, .vestido2, .vestido3{
    width: 100%;
    height: 40vh;
    padding-left:5%;
    flex-wrap: wrap;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.blusa:hover{
    -webkit-transform: scale(1.3);
   transform: scale(1.3);
}
.saia:hover{
    -webkit-transform: scale(1.3);
   transform: scale(1.3);
}
.vestido1:hover{
    -webkit-transform: scale(1.3);
   transform: scale(1.3);
} 
.vestido2:hover{
    -webkit-transform: scale(1.3);
   transform: scale(1.3);
} 
.vestido3:hover{
    -webkit-transform: scale(1.3);
   transform: scale(1.3);
}
h3, .opcao1, .opcao2, .opcao3, .opcao4, .opcao5{
    margin-left:25%;
}
.add{
    cursor: pointer;
    height: 10%;
    width: 80%;
    margin-left:10%;
    border:solid;
    color:rgb(142, 101, 181);
    font-size: 15px;
    border-radius: 10%;
}
.rodapé{
    display: flex;
    padding:1%  0.5% 0.3% 2%;
    height: 8vh;
    margin-top:6%;

}
fieldset{
    width: 90vw;
    color:rgba(8, 69, 29, 0.535);
    font-size: 1.1em;
    display: flex;
    margin-left: 4%;
    justify-content: center;
    align-items: center;
    padding:0.2% 0.7% 0.7% 0.2%;
    
    
}
.btn{
    cursor: pointer;
    border:solid 2px;
    color:rgb(91, 209, 251);
    height: 10%;
    width: 15%;
    font-size: 0.9em;
    border-radius: 10%;
    padding: 0.1% 0.3% 1.6% 0.7%;
    justify-content: center;
    display: flex;
   
}
.footer-btn{
    display:none;
}
@media (min-width:687px) and (max-width:702px){
    header{
        width: 100%;
        display: flex;
        
    }
   div{
    margin-left: none;    
   }
  
    .cabecalho{
        display:flex;
        width: 100%;
        font-size: 20%;
        margin-top: 1%;
        cursor: pointer;
   
    }
    li{
        margin:0.1% 2% 5% 1%;
    }
    .add{
        padding:10% 53% 53% 3%;
        text-align: center;
        color:rgb(142, 101, 181);
    }
    fieldset{
        display: flex;
        flex-direction: column;
        padding: 13%;
        width: 30%;
        margin-left:30%;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }
    .btn{
        cursor: pointer;
        border:solid 2px;
        color:rgb(91, 209, 251);
        height: 10%;
        width: 15%;
        font-size: 0.9em;
        border-radius: 10%;
        padding: 6% 30% 26% 30%;
        justify-content: center;
        display: flex;
        margin-top: 5%;
    }
}
@media (max-width:686px){
    .menu{
        display:initial;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }
    .cabecalho{
        display: none;
    }
    .pecas{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        width: 78vw;
        height: 70%;
       }
    
    .add{
        padding:10% 53% 53% 3%;
        text-align: center;
        align-items: center;
        color:rgb(142, 101, 181);
    }
    div{
        width: 60%;
        height: 100%;
    }
    fieldset{
        display: flex;
        flex-direction: column;
        padding: 13%;
        width: 30%;
        margin-left:30%;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
    }
    .btn{
        cursor: pointer;
        border:solid 2px;
        color:rgb(91, 209, 251);
        height: 10%;
        width: 15%;
        font-size: 0.9em;
        border-radius: 10%;
        padding: 6% 30% 26% 30%;
        justify-content: center;
        display: flex;
        margin-top: 5%;
    }
    .footer-btn{
        display: initial;
        display:flex;
        width: 10%;
        margin-top:40%;
        justify-items:end;
        border:solid rgb(127, 126, 90);
    }
   
}
